label {
  display: inline-block;
  width: 5em;
  color: white;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: 5px;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #fff9c4;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
